/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

.class{
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 2em;
  margin-bottom: 1em;
}
